body {
  overflow: hidden;
  background-color: #037783;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  width: 200px;
  max-height: 606px;
  padding: 10px;
}

p,
label,
h1 {
  color: white;
  margin: 15px;
}

#slow-header {
  font-style: italic;
}

header {
  display: flex;
  align-items: center;
}

img {
  height: 50px;
  width: auto;
  margin-left: 5px;
}

.enable-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#enable-button {
  width: 100%;
  height: 41px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  transition: all 0.2s;
}

.enabled {
  background-color: #0398a8;
}

.options-container {
  background-color: #036570;
  padding: 3px;
  padding-bottom: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

.checkbox-container {
  margin-bottom: 5px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0px;
}
